{% extends 'memo/layout/list.html' %}

{% block title %}List{% endblock %}

{% block list %}
    {% for n in nodes %}
        <form method="post" action="">
            {% csrf_token %}
            <span class="line">
                <input type="hidden" name="id" value="{{ n.id }}">
                <span class="left">{{ n.date }}</span>
                <span class="auto">
                    <a href="/memo/{{ n.id }}">{{ n.title }}</a>
                    <input type="submit" value="削除">
                </span>
            </span>
        </form>
    {% endfor %}
{% endblock %}

{% block post %}
    <form method="post" action="">
        {% csrf_token %}
        <span class="line">
            <span class="left"><label for="id_title">{{ form.title.label }}</label></span>
            <span class="auto">{{ form.title }}</span>
        </span>
        <span class="line">
            <span class="left"><label for="id_text">{{ form.text.label }}</label></span>
            <span class="auto">{{ form.text }}</span>
        </span>
        <input type="submit">
    </form>
{% endblock %}