<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
{% for node in nodes %}
    <div>
        <p>{{ node.title }}</p>
        <p>{{ node.date }}</p>
        <form method="post" action="">
            {% csrf_token %}
            <p style="visibility: hidden" id="title">{{ node.title }}</p>
            <input type="submit" value="削除">
        </form>
    </div>
{% endfor %}
<form method="post" action="">
    {% csrf_token %}
    <label>
        {{ form.title.label }} {{ form.title }}
    </label>
    <label>
        {{ form.text.label }} {{ form.text }}
    </label>
    <input type="submit">
</form>
</body>
</html>